@charset "utf-8";

// Custom colors
$maroon: #b94e48;
$brown: #757763;
$beige: #faf0e6;
$beige-light: #f2f3f4;
$rosy-brown: #bc8f8f;
$sea-green: #3cb371;
$blue: #73c2fb;
$gray: #c4aead;

// Global variables
$family-sans-serif: 'Mukta', sans-serif;
$widescreen-enabled: true;
$fullhd-enabled: false;
$primary: $rosy-brown;
$success: $sea-green;
$link: $maroon;
$info: $blue;
$light: $beige-light;

// Component variables
$control-border-width: 2px;
$navbar-background-color: $primary;
$navbar-item-color: $beige;
$navbar-item-hover-background-color: $brown;
$navbar-item-hover-color: $beige;
$body-background-color: $beige;
$footer-background-color: $beige;
$navbar-box-shadow-size: 0 0 3px;
$navbar-box-shadow-color: #4e4a4a;

@import '../../node_modules/bulma/bulma.sass'