::selection {
  background: rgba(137, 207, 240, 0.5);
}

.homepage-hero {
  background-position: center center;
  background-repeat:  no-repeat;
  background-size: cover;
}

.hero-text {
  background: rgba(0, 0, 0, 0.6);
}

.homepage-group-link:hover {
  text-decoration: underline;
}

.nav-button {
  all: unset;
}

// For some reason Bulma doesn't apply normal navbar-item styles to items
// within a navbar-brand element, so we have to force it.
.navbar-brand .navbar-item:hover, .navbar-brand .navbar-item:focus {
  background: #757763 !important;
}