@import 'App.scss';

::selection {
  background: rgba(137, 207, 240, 0.5);
}

.homepage-hero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  background: rgba(0, 0, 0, 0.6);
}

.homepage-group-link:hover {
  text-decoration: underline;
  color: $info !important;
}

.homepage-group-link:focus {
  text-decoration: underline;
  color: $info !important;
}

// Applied to the div containing all other elements
// to prevent the navbar from covering things up
.navbar-offset {
  position: relative;
  top: 52px;
}

.nav-button {
  all: unset;
}

// For some reason Bulma doesn't apply normal navbar-item styles to items
// within a navbar-brand element, so we have to force it.
.navbar-brand .navbar-item:hover, .navbar-brand .navbar-item:focus {
  background: #757763 !important;
}

.cover-image {
  height: 270px;
  width: 180px;
}

.group-hero {
  min-height: 430px;
}

.hoverable-item {
  transition: filter ease-out 0.23s;
}

.hoverable-item:hover {
  filter: brightness(0.935);
}

// Slightly darker for keyboard focus to improve legibility
.hoverable-item:focus {
  filter: brightness(0.9);
  outline: none;
}